#include "resource.h"

IDB_BITMAP2             BITMAP  DISCARDABLE     "BITMAP2.BMP"
IDB_BITMAP1             BITMAP  DISCARDABLE     "BITMAP1.BMP"
IDB_BITMAP3             BITMAP  DISCARDABLE     "BITMAP1.BMP"
IDB_BITMAP4             BITMAP  DISCARDABLE     "BITMAP3.BMP"